*.pdb
*.obj
*.ilk
*.exe
*.htm
*.ncb
*.suo
*.user
*.dep
*.idb
*.res
*.log
*.tlog
*.rc
*.manifest
*.manifest.res
*.lastbuildstate
*.sdf
*.opensdf
*.ipch
bin/Release
bin/Debug
src/project/*/Debug
src/project/*/Release